<!-- desktop -->
<div
  class="hidden lg:flex flex-col justify-start items-end sticky col-span-2 col-start-2 col-end-4"
>
  <ul class="text-xl font-gustavo mb-4 flex flex-col items-end">
    {% for route in config.extra.routes %}
      {% if current_path == route.path %}
        <li class="pt-2">
          <a href="{{ route.path }}">{{ route.name }}</a>
        </li>
      {% else %}
        <li class="text-gray-500 pt-2">
          <a href="{{ route.path }}">{{ route.name }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div
    class="font-halyard flex gap-1 select-none items-center justify-center pt-2"
  >
    {% for social in config.extra.socials %}
      <a
        class="p-1"
        title="{{- social.title -}}"
        target="_blank"
        href="{{- social.link -}}"
      >
        <img
          src="{{ social.icon }}"
          class="h-[1.25em] w-[1.25em] opacity-70 hover:opacity-100 transition-opacity duration-300"
        />
      </a>
    {% endfor %}
  </div>

  <hr />
  <p class="pt-2 font-halyard text-sm opacity-70">Coimbatore, IN</p>
</div>

<!-- mobile -->
<div class="lg:hidden font-gustavo col-span-4">
  <div class="flex items-center gap-1 cursor-pointer top-0 sticky">
    {% for route in config.extra.routes %}
      {% if route.path == current_path %}
        <span class="pb-1"> {{- route.name -}} </span>
      {% endif %}
    {% endfor %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 fill-current text-gray-600"
      viewBox="0 0 256 256"
    >
      <rect width="256" height="256" fill="none" />
      <polygon points="96 48 176 128 96 208 96 48" opacity="0.2" />
      <polygon
        points="96 48 176 128 96 208 96 48"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
      />
    </svg>
  </div>
  <div class="flex flex-col">
    {% for route in config.extra.routes %}
      {% if route.path != current_path %}
        <a href="{{ route.path }}" class="hover:text-black text-gray-400 mt-2"
          >{{ route.name }}</a
        >
      {% endif %}
    {% endfor %}
  </div>
</div>
