<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}
    </title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="container transition-all duration-150 md:mx-auto px-4">
      {% include "partials/nav.html" %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
