<html class="scroll-smooth" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% if page.description %}
            <meta name="description" content="{{ page.description }}" />
        {% endif %}
        <title>
            {% if page.title %}
                {{ page.title }}
            {% elif section %}
                {{ section.title }}
            {% else %}
                {{ config.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="{{ get_url(path="style.css") }}?v={{ now() | date(format="%Y%m%d%H%M%S") }}" />
    </head>

    <body>
        <div class="transition-all duration-150 py-16 mx-auto px-4 flex flex-col justify-center items-center">
            <h1 class="text-3xl font-gustavo mb-[2rem]">{{ page.title }}</h1>
                {% if page.date %}
                <span class="font-manrope text-sm text-gray-500">{{ page.date | date(format="%d/%m - %y") }}</span>
                {% endif %}
            {% if page.date %}
            <div class="lg:hidden font-manrope text-sm text-gray-500 pb-4">{{ page.date | date(format="%d/%m - %y") }}</div>
            {% endif %}
            <div class="markdown">{{ page.content | safe }}</div>
        </div>
    </body>
</html>

