{% extends "base.html" %}

{% block content %}
    {% set tags = get_taxonomy(kind="tags") %}

    <div class="flex flex-col gap-6">
        <h1 class="hidden lg:block font-gustavo text-3xl">tags</h1>
        <div class="flex text-base gap-3 font-dm">
            {% for term in tags.items %}
                <a class="transition-all duration-300 inline-block text-gray-500 hover:text-blue-600 hover:underline decoration-dashed" href="{{ term.permalink }}"> # {{ term.name }} </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
