{% extends "base.html" %}

{% block content %}
    <div class="font-dm">
        <div class="hidden lg:block">
            <div class="flex flex-row justify-between items-center">
                <h1 class="text-3xl font-gustavo mb-4"># {{ term.name }}</h1>
                <p><span class="font-bold">Posts:</span> {{ term.page_count }}</p>
            </div>
            <hr class="w-full border border-dashed border-gray-500 mb-4" />
        </div>
        {% for page in term.pages %}
            <a href="{{ page.permalink }}">
                <div
                    class="flex flex-row justify-between items-center hover:translate-x-2 ease-in-out transition-all transition-gpu duration-300 mb-2"
                >
                    <p class="text-xl">{{ page.title }}</p>
                    <p class="text-zinc-500">
                        {{ page.date | date(format="%d/%m - %y") }}
                    </p>
                </div>
            </a>
            <hr class="border-t mb-3"/>
        {% endfor %}
    </div>
{% endblock content %}
